<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Elements">
	<test name="Elements">
		<parameter name="Fullname" value="Raj Kamble" />
		<parameter name="Email" value="fgitfxan@sharklasers.com" />
		<parameter name="CurrentAddress" value="Aranyeshwar"/>
		<parameter name="PermanentAddress" value="Pune"/>

		<classes>
			<class name="Elements.TextBox" />
		</classes>

	</test> <!--
	Elements -->
</suite> <!--
Elements -->
